
  .header{
      align-items: center;
      display: flex;
      justify-content: center;
      height: 82px;
      background-color: rgb(248, 248, 248);
      box-sizing: border-box;
      box-shadow: 0 4px 4px -4px rgb(0 0 0 / 12%);
      position: relative;
  }
  

  .store{
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      
  }
  .input{
      margin-bottom: 30px;
  }


  input[type=text]{
      color: #383333;
      background-color:#FFF;
      border: 1px solid rgb(219, 207, 207);
      padding: 9px 23px;
      border-radius: 3px;
      box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  }
  
  input[type=text]:focus{
      outline: none;
  }
  

  button{
    padding: 9px 10px;
    border-radius: 4px;
    cursor: pointer;
    border: none;   
    background-color: #303641;
    border: 0 none;
    border-radius: 4px;
    margin-top: 40px;
  }
  

.products-first{
    display: grid;
    background-color: alice;
    grid-template-columns: auto auto auto ;
}

@media screen and (max-width:900px) {
    .products-first{
        display: grid;
        grid-template-columns:  auto auto;
    }
}

.image{
    border: 1px solid;
    border-radius: 4px;
    margin: 20px;
    padding: 20px;
      
}

p{
    margin-left: 3px;
}



.button_two{
    background-color: #285469;
} 


.products_first_container{
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
}

@media screen and (max-width:900px) {
    .products-first_container{
        display: grid;
        grid-template-columns:  auto auto;
    }
}


.products_first_div{
    border: 1px solid;
    width: fit-content;
    padding: 20px;
    border-radius: 4px;
}

button{
    margin-top: 10px;
    border: none;
    padding: 7px 5px;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 10px;
    color: rgb(246, 239, 239);
}

.Delete_btn{
    background-color: rgb(191, 24, 24);
}

.Edit_btn{
    background-color: #333;
}
