*{
    padding: 0;
    margin: 0;
    font-family:  sans-serif;
  }
  
  .header{
      margin-top: 50px;
      display: flex;
      position: sticky;
      flex-direction: column;
      justify-content: center;
      height: 82px;
      background-color: rgb(248, 248, 248);
      box-sizing: border-box;
      box-shadow: 0 4px 4px -4px rgb(0 0 0 / 12%);
      position: relative;
  }
  
  .store{
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      
  }

  .back{
    position: absolute;
      left: 0;
      top: 20;
      cursor: pointer;
}

 .back:hover{
       transform: scale(1.1);
       border: 1px solid rgb(204, 201, 201);
       border-radius: 50%;
 }
  
  .head{
      font-weight: normal;
      font-size: 20px;
      color:  #666060;
  }
  
  .input{
      margin-bottom: 30px;
  }
  
  
  .person{
      cursor: pointer;
     
  }
  
  .person:hover{
      color: rgb(192, 192, 116);
  }
  
  .cart{
      cursor: pointer;
  }
  
  /* .one{
    color:black;
    border: 1px solid yellow;
    border-radius: 70%;
  } */
  
  .cart:hover{
      color: rgb(167, 184, 14);
  }
  
  
  input[type=text]{
      color: #949494;
      background-color:#FFF;
      border: 1px s olid rgb(219, 207, 207);
      padding: 9px 23px;
      border-radius: 3px;
      box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  }
  
  input[type=text]:focus{
      outline: none;
  }
  
  .btn{
      padding: 9px 10px;
      border-radius: 4px;
      cursor: pointer;
      border: none;
      
  }
  
  .right{
      display: flex;
      align-items: center;
  }
  
  .middle{
      border-radius: 4px;
      margin: 5em;
      border: 2px solid rgb(224, 219, 219);
      box-shadow: -10px -4px 20px 2px rgba(241, 237, 237, 0.92);
      -webkit-box-shadow: -10px -4px 20px 2px rgba(121,121,121,0.92);
      -moz-box-shadow: -10px -4px 20px 2px rgba(121,121,121,0.92);
  }
  
  .items{
      display: flex;
  }
  .icon{
      margin-top: 7.5em;
      cursor: pointer;
      top: 55%;
      color: rgb(199, 199, 81);
      font-weight: bold;
      margin-left: 10px;
      
  }
  
  .icon-right{
      margin-top: 7.5em;
      cursor: pointer;
      color: rgb(199, 199, 81);
      font-weight: bold;
      margin-right: 10px;
  }
  
  img{
      height: 240px;
      border-radius: 50%;
      
  }
  
  .info{
      padding-top: 1em;
      height: 240px;
      width: 310px;
      letter-spacing: .5px;
      font-size: large;
      font-weight: bold;
      margin-bottom: 1em;
  }
  
  .shillings{
      margin-top: 20px;
  }
  
  .brand{
     color: rgb(122, 122, 16);
     font-size: 12px;
     letter-spacing: .1px;
     cursor: pointer;
      
  }
  button{
      padding: 10px 100px;
      font-weight: bold;
      background-color: orange;
      border: 0 none;
      cursor: pointer;
      border-radius: 4px;
      margin-top: 40px;
  }
  
  button:hover{
      transform: scale(1.1);
  }
  
  .detail{
      margin-top: 1em;
      padding: 20px;
      width: 230px;
      border-radius: 4px;
      border: 2px solid rgb(224, 219, 219);
      box-shadow: -10px -4px 20px 2px rgba(241, 237, 237, 0.92);
      -webkit-box-shadow: -10px -4px 20px 2px rgba(121,121,121,0.92);
      -moz-box-shadow: -10px -4px 20px 2px rgba(121,121,121,0.92);
  
  }
  
  .detail header h1{
      font-weight: normal;
      font-size: 25px;
      text-align: center;
      place-content: center;
  }
  .detail header{
      margin: 20px auto;
      border-bottom: 1px solid;
  }
  
  .detail-p{
      border-bottom: 1px solid;
      padding-bottom: 5px;
  }
  
  input[type=submit]{
      padding: 6px 30px;
      background: #373E4A;
      color: #C1C3C6;
      font-weight: bold;
      border: 0 none;
      cursor: pointer;
      border-radius: 4px;
      margin: 15px auto;
  
  }
  /* input[type=submit]:hover{
      color: #C1C3C6;
  } */
  .final{
     margin-left: 25px;
  }
  
  .check:hover{
     color: yellow;
  }
  
  @media screen and (max-width: 900px) {
      .right {
        display: flex;
        flex-direction: column;
      }
    }