*{
    box-sizing: border-box;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family:  sans-serif;
    color: #F2F2F2;
    background-color: #303641;
}

.myn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}    
.container-login {
    background-color: #1D1F20;
    position: relative;
    margin: auto;
    margin-top: 5em;
    width: 340px;
    height: 445px;
    border-radius: 0.35em;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}
input[type=text] {
    width:100%;
    padding: 1em .5em;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.title{
    position: relative;
    background-color: #1A1C1D;
    width: 100%;
    padding: 20px 0px;
    border-radius: 0.35em;
    font-size: 22px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

input[type=submit] {
    width:100%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
}
.input{
    margin: 15px auto;
    width: 240px;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #373b3d;
    padding: 8px 0px;
    margin-top: 15px;
}


input[type=text] {
    color: #949494;
    margin: 0;
    background-color: #373b3d;
    border: 1px solid #373b3d;
    padding: 6px 0px;
    border-radius: 3px;
}

input[type=text]:focus{
    outline: none;
}

input[type=password]{
    color: #949494;
    margin: 0;
    background-color: #373b3d;
    border: aliceblue;
    padding: 6px 0px;
    border-radius: 3px;

}

input[type=password]:focus{
    outline: none;
}

.remember-me{
    cursor: pointer;
}

input[type=submit]{
    padding: 6px 30px;
    background: #373E4A;
    color: #C1C3C6;
    font-weight: bold;
    border: 0 none;
    cursor: pointer;
    border-radius: 4px;
    margin: 15px auto;

}

.forgot-password{
    position: relative;
    margin: auto;
}

.forgot-password a{
    text-decoration: none;
    color: #C1C3C6;
}

.forgot-password a:hover{
    color: #FFF;
    transition: 1s;
}

.privacy{
    position: relative;
    margin-top: 5px;
    font-size: 12px;
}

.privacy a{
    text-decoration: none;
    color: #C1C3C6;
}

.privacy a:hover{
    color: #FFF;
    transition: 1s;
}

.footer{
   margin: auto;
   padding: 16px 0;
   width: 85%;
   margin-top: 40px;
   border-top: 1px solid #FFF;
}  