*{
    box-sizing: border-box;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family:  sans-serif;
    color: #F2F2F2;
}

.myn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}    
.container-login {
    background-color: #285469;
    position: relative;
    margin: auto;
    margin-top: 5em;
    padding-bottom: 2em;
    width: 340px;
    border-radius: 0.35em;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

.title{
    position: relative;
    background-color: #285469;
    width: 100%;
    padding: 20px 0px;
    border-radius: 0.35em;
    font-size: 22px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.input{
    margin: 15px auto;
    width: 240px;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;
    padding: 8px 0px;
    margin-top: 15px;
}

input[type=text],[type=password] {
    color: #fff;
    margin: 0;
    color: #333;
    border: none;
    padding: 6px 0px;
    border-radius: 3px;
}

input[type=password],[type=text]:focus{
    outline: none;
}

input[type=submit]{
    padding: 6px 20px;
    color: #333;
    font-weight: bold;
    border: 0 none;
    cursor: pointer;
    border-radius: 4px;
    margin: 15px auto;
}