*{
    padding: 0;
    margin: 0;
    font-family:  sans-serif;
  }

  .navbar-menu{
    padding-top: 20px;
    height: 60px;
    border-bottom: 1px solid #303641;   
   
}

.navbar-menu ul{
   text-decoration: none;
   list-style: none;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: space-around;  
   float: right;
   
}


.Logout{
   margin-left: 100px;
   border: none;
   background-color:rgb(204, 201, 201);
   padding: 3px 5px;
   border-radius: 5px;
   font-weight: bold;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   cursor: pointer;
}

.Logout:hover{
   transform: scale(0.9);
}

.material-icons{
   background-color: transparent;
}

.loginbar{
   border: none;
   background-color: rgb(204, 201, 201);
   border-radius: 5px;
   padding: 10px;
   display: flex;
   justify-content: space-around;
   cursor: pointer;
}
.loginbar:hover{
   transform: scale(0.9);
}

li{
   background-color: transparent;
}

a{
   text-decoration: none;
   color: #000000;
   font-weight: bold;
   background-color: transparent;
}

  
  .header{
      margin-top: 50px;
      display: flex;
      position: sticky;
      flex-direction: column;
      justify-content: center;
      height: 82px;
      background-color: rgb(248, 248, 248);
      box-sizing: border-box;
      box-shadow: 0 4px 4px -4px rgb(0 0 0 / 12%);
      position: relative;
  }
  
  .store{
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      
  }
  .back{
    position: absolute;
      left: 0;
      top: 20;
      cursor: pointer;
}

 .back:hover{
       transform: scale(1.1);
       border: 1px solid rgb(204, 201, 201);
       border-radius: 50%;
 }
  
  .head{
      font-weight: normal;
      font-size: 20px;
      color:  #666060;
  }
  
  .input{
      margin-bottom: 30px;
  }
  
  .image-jane{
        height:30px;
        width:30px;
        border-radius: 50%;
        margin-right: 5px;
  }
  .person{
      cursor: pointer;   
      font-weight: bold;
      display: flex;
      align-items: center;
  }
  
  .person:hover{
      color: rgb(114, 173, 24);
  }
  
  .cart{
      cursor: pointer;
      font-weight: bold;
  }
   
  .cart:hover{
      color: rgb(114, 173, 24);
  }
  
  input[type=text]{
      color: #383333;
      background-color:#FFF;
      border: 1px solid rgb(219, 207, 207);
      padding: 9px 23px;
      border-radius: 3px;
      box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  }
  
  input[type=text]:focus{
      outline: none;
  }
  
  .btn{
    padding: 9px 10px;
    border-radius: 4px;
    cursor: pointer;
    border: none;   
    color: #fff;
    background-color: #303641;
    border: 0 none;
    border-radius: 4px;
    margin-top: 40px;
  }
  
  
  
  button:hover{
      transform: scale(1.1);
  }

.available-products{
    display: flex;
    justify-content: space-evenly;
}

.products-first{
    display: grid;
    grid-template-columns: auto auto auto ;
}

.image{
  width: 300px;
  display: flex;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border-radius: 4px;
  border: 2px solid rgb(204, 201, 201);
  /* box-shadow: -11px -6px 5px 0px rgba(0,0,0,0.27);
  -webkit-box-shadow: -11px -6px 5px 0px rgba(0,0,0,0.27);
  -moz-box-shadow: -11px -6px 5px 0px rgba(0,0,0,0.27);
 */
}
p{
    margin-left: 3px;
}
.image img{
    margin-right: 8px;
    height: 80px;
    border: 2px solid rgb(204, 201, 201);
    border-radius: 50%;
}

.item-check .material-icons{
    color: red;
}

.item-check-green .material-icons{
    color: green;
}

.item-check-orange{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

button{
    padding: 9px 10px;
    border-radius: 4px;
    cursor: pointer;
    border: none;   
    color: #fff;
    background-color: #303641;
    border: 0 none;
    border-radius: 4px;
    margin-top: 40px;
    margin-right: 3px;
    margin-left: 3px;
}



.item-check-green{
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    width: 140px;
    border: 2px solid rgb(204, 201, 201);
    border-radius: 4px;
    cursor: pointer;
}

.item-check-green:hover{
    background-color:  yellowgreen;
    transition: .5s;
    color: white;
}


.item-check{
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    width: 140px;
    border: 2px solid rgb(204, 201, 201);
    border-radius: 4px;
    cursor: pointer;
}
.item-check:hover{
    background-color: rgb(199, 0, 0);
    color: rgb(229, 226, 226);
    transition: .5s;
}

@media screen and (max-width:900px) {
    .products-first{
        display: grid;
        grid-template-columns:  auto auto;
        row-gap: 20px;
        column-gap: 20px
    }
}
