*{
    padding: 0;
    margin: 0;
    font-family:  sans-serif;
  }
  
 .header{
      margin-top: 50px;
      display: flex;
      position: sticky;
      flex-direction: column;
      justify-content: center;
      height: 82px;
      background-color: rgb(248, 248, 248);
      box-sizing: border-box;
      box-shadow: 0 4px 4px -4px rgb(0 0 0 / 12%);
      position: relative;
  }
  
  .store{
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;      
  }
  .back{
    position: absolute;
      left: 0;
      top: 20;
      cursor: pointer;
}

 .back:hover{
       transform: scale(1.1);
       border: 1px solid rgb(204, 201, 201);
       border-radius: 50%;
 }
  
  .head{
      font-weight: normal;
      font-size: 20px;
      color:  #666060;
  }
  
  .input{
      margin-bottom: 30px;
  }
  
  .person{
      cursor: pointer;   
      font-weight: bold;
      display: flex;
      align-items: center;
  }
  
  .person:hover{
      color: green;
  }
  .image-jane{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 5px;
  }

  input[type=text]{
      color: #383333;
      background-color:#FFF;
      border: 1px solid rgb(219, 207, 207);
      padding: 9px 23px;
      border-radius: 3px;
      box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  }
  
  input[type=text]:focus{
      outline: none;
  }
  
  .btn{
      padding: 9px 10px;
      border-radius: 4px;
      cursor: pointer;
      border: none;     
  }
  button{
    padding: 10px 100px;
    font-weight: bold;
    background-color: rgb(182, 182, 49);
    border: 0 none;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 40px;
  }
  
  button:hover{
      background-color: rgb(192, 192, 116);
      transition: 1s;
  }

.content{
    padding: 20px;
    display: grid;
    margin-left: 20%;
}
.box-one{
    margin:10px;
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(245, 241, 241);
    box-shadow: 0 4px 4px -4px rgb(0 0 0 / 12%);
   
}

.image{
    margin-right: 30px;
}

img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.info{
   margin-right: 30px;
}

.price{
    margin-right: 30px;
}
